body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.page {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: slategrey;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mark {
    font-weight: 700;
    color: #777;
    margin-bottom: 15px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form {
    height: 350px;
    display: flex;
    flex-direction: column;
    display: none;
}

.form__active {
    display: flex;
}

.textarea {
    resize: none;
}

.text-field {
    font-family: monospace;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
    border-radius: 15px;
    border: 1px solid rgb(221, 217, 228);
    background-color: #fcfcfc;
    transition: .4s;
    outline: none;
    margin-top: 15px;
}

.text-field:focus {
    background-color: #fff;
    border-color: rgb(200, 180, 231);
}

.text-field:first-child {
    margin-top: 0;
}

.error {
    display: block;
    opacity: 1;
    font-size: 12px;
    margin-left: 7px;
    color: rgb(196, 84, 84);
}

.error-checkbox {
    margin-left: -10px;
}

.transparent {
    opacity: 0;
}

.agree-label {
    margin-top: 20px;
    max-width: 200px;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.agree-label > input[type="checkbox"] {
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;
}



.btn:first-child {
    margin-right: 15px;
}

.btn {
    width: 66px;
    height: 35px;
    background-color: rgba(179, 163, 250, .2);
    border: 1px solid #b1a1fa;
    font-size: 13px;
    border-radius: 15px;
    outline: none;
    color: rgb(39, 46, 68);
    cursor: pointer;
    transition: .4s;
    font-family: 'Nunito', sans-serif;
}

.btn:hover {
    background-color: #fff;
}

.disabled {
    border-color: #ccc;
    background-color: #ddd;
}

.disabled:hover {
    background-color: #ddd;
    cursor: default;
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}